[Desktop Entry]
Name=CPATracker
Comment=Course & CPA Calculation Tool
Exec=CPATracker
Icon=CPATracker
Terminal=false
Type=Application
Categories=Education;Utility;